.card {
  flex-direction: row !important;
  height: 40rem;
  margin-bottom: 0.5rem;
  width: 100%;

  .card-img-left {
    width: 40rem;
  }
  .card-body {
    display: flex;
    flex-direction: column;
  }
  .card-img {
    width: 30vw;
    height: 100%;
    object-fit: cover;
  }
}
